
html {
    width: 100% !important;
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.heading-font {
    font-size: 26px;
}

.high-font {
    font-size: 24px;
}

.high-fontt {
    font-size: 34px;
}


.font-free{
    font-size: 100px;
    font-weight: 700;
}

.btn-1 a {
    text-decoration: none !important;
    color: white;
}


.white {
    color: white ;
}

.yellow {
    color: #fca311;
}
.font-20{
    font-size: 22px;
}

.font-18 {
    font-size: 18px;
}
.font-15 {
    font-size: 15px;
}
.font-16 {
    font-size: 18px;
}
.font-14 {
    font-size: 14px;
}
.josefin {
    font-family: "Josefin Sans", sans-serif;
}
.funnel {
    font-family: "Funnel Sans", sans-serif;
}
.nav-link {
    color: white !important;
}
.navbar-brand  {
    color: white !important;
    font-size: 24px !important;
}
.dark-blue {
    background-color:#0a0b4d;
}
.dark-bluee {
    color: #074c72 !important;
}
.peach {
    color: #ea5267;
}

.justify {
   line-height: 30px;
   word-spacing: 8px;
   
}
.ws {
    word-spacing: 10px;
}

.mon {
 font-family: "Montserrat", sans-serif;;
}

.flexx {
    display: flex;
    
}

.fleexx {
    display: flex;
    justify-content: first baseline;
justify-content: left;
    
}

.sm-block {
    width:15%;
    margin-top: 45px;

}

.margin-cus{
    margin-top: 50px;
}

.prof {
   
background-color: #0a0d5a;
}

.summary {
    width:80%;
    margin: auto;
}

.ln-height {
    line-height: 33px;
}
.ln-heightt {
    line-height: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 13.5px 45px;
    background-color: #ea5267;
    font-size: 14px;
    color: #fff;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    border: 1px solid transparent;
}
.footer-info {
    width:80%;
    margin: auto;
}
.responsibilities {
    width: 80% ;
    margin: auto;
    line-height: 35px;
}

.responsibilities ul li {
    list-style: square;
}

.greyy {
    color: grey;
}

.skls {
    width: 80%;
    margin: auto;
}

.cust-card {
    width: 80%;
    border: 0.4px solid rgb(221, 213, 213);
    padding: 10px;

 
}



.cust-card:hover {
    background-color: #12145e;
    color: white;
    font-size: 18px;
   
}

nav {
    background-color: #12145e !important;
}

.style-cus a {
text-decoration: none;
color: white !important;
padding: 4px;

}

button.navbar-toggler {
    background-color: #fca311 !important;
    width: 4px !important;
    height: 5px !important;
    border-radius: 0px !important;
    border: none !important;
   
}



.navbar-toggler-icon{
    display: none !important;
}

@media (max-width:570px) {
    
    .navbar-brand  {
        color: white !important;
        font-size: 20px !important;
    
    }
    


.navbar-collapse  {
    border: none !important;
}


.stylin {
    word-spacing: 6px;
    line-height: 30px;
}


.menu-bar {
    background-color: #12145e !important;
    margin: 0px !important;
    color: white !important;

}
.home-page-start {
    background-color: #12145e;
    margin: 0px !important;
    color: white;
    text-align: center;
}

.padding-free {
    padding: 100px 20px;

}
.col {
    padding: 8px 0;
}


.image {
width: 150px;
height: 150px;
border-radius: 50%;
border: 2px solid white;
margin: 20px auto;


}

.image img {
    width: 100%;
    border-radius: 100px;
padding: 3px;
}
.sm-block {
    width:28%;
    margin-top: 35px;

}
.about-section .abt{
    width: 95%;
    margin: 0 auto ;
}
    
.home-page-start .row {
    padding: 110px 20px;

}


.font-free{
    font-size: 80px;
    font-weight: 700;
}

.font-20{
    font-size: 17px;
}
.exp-edu{
    width: 95%;
    margin: auto;
}
.card {
        
    width:90%;
    border-left: 4px solid #fca311 !important;
    margin: auto;
  
}
.exp-edu{
    width: 90%;
    margin: auto;
}

.variable {
    font-size: 16px;
}

.footer-info {
    width:95%;
    margin: auto;
    text-align: center;
}

.center  {
    text-align: center;
}
.item {
    margin-right: 10px;
    justify-content: center;
}
.fleexx {
    display: flex;
  
justify-content: center;
    
}
.cust-card {
    width: 95%;
  
      border: 1px solid grey;
      padding: 10px;
  }

}


@media (min-width:571px) and (max-width:1024px) {

    .navbar-brand  {
        color: white !important;
    
    }

    .navbar-collapse  {
        border: none !important;
    }
    
    
    .stylin {
        word-spacing: 6px;
        line-height: 30px;
    }
    
    
    .menu-bar {
        background-color: #12145e!important;
        margin: 0px !important;
        color: white !important;
    
    }
    .home-page-start {
        background-color: #12145e;
        margin: 0px !important;
        color: white;
     
    }

    .high-font {
        font-size: 28px;
    }
    
    
    .padding-free {
        padding: 200px 20px;
    
    }
   
    .font-18 {
        font-size: 17px;
    }


    
    .image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid white;
        float: right;
    }

    .info-content {
        margin-top: 4%;
      float: left !important;
     
  
    }
    
    .image img {
        width: 100%;
        border-radius: 100px;
        padding: 3px;
    }
    .pd {
        float: right;
    }
        
    .home-page-start .row {
        padding: 120px 20px;
    
    }
   

   
    .about-section .abt{
        width: 93%;
        margin: 0 auto ;
    }

    .exp-edu{
        width: 80%;
        margin: auto;
    }
    .card {
        
        width:90%;
        border-left: 4px solid #fca311 !important;
    }
    
    .item {
        margin-right: 10px;
    }
    
.variable {
    font-size: 18px;
}
   
    
    }




    
@media (min-width:1024px) and (max-width:1500px) {
    
    .navbar button{
display: none;
    }
    .navbar-brand  {
        color: white !important;
    
    }

    .navbar-collapse  {
        border: none !important;
    }
    .pd {
        float: right;
    }
    
    
    .stylin {
        word-spacing: 6px;
        line-height: 30px;
    }
    
    
    .menu-bar {
        background-color: #12145e !important;
        margin: 0px !important;
        color: white !important;
    
    }
    .home-page-start {
        background-color: #12145e;
                margin: 0px !important;
        color: white;
     
    }

    .high-font {
        font-size: 48px;
    }
    .high-fontt {
        font-size: 34px;
    }
    
    
    
    .home-page-start .row {
        padding: 170px 20px;
    
    }
   
    .font-18 {
        font-size: 22px;
    }


    
    .image {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
    float: right;
    }
  
    .info-content {
        margin-top: 3%;
      float: left !important;
     
  
    }
    
    .image img {
        width: 100%;
        border-radius: 100px;
        padding: 3px;
    }
    .about-section .abt{
        width: 80%;
        margin: 0 auto ;
    }
    .exp-edu{
        width: 80%;
        margin: auto;
    }
    .card {
        
        width:90%;
        border-left: 4px solid #fca311 !important;
    }
   
    .item {
        margin-right: 10px;
    }
    .style-cus a {
        text-decoration: none;
        color: white !important;
        padding-right: 8px;
        
        }
        
.variable {
    font-size: 25px;
}
    }